.containerDiario {
  padding: 50px 50px 0 50px;
  display: grid;
  grid-template-columns: 30% 1fr;
}

.divButton {
  display: flex;
  justify-content: center;
}

.bookmarkBtn {
  width: 300px;
  height: 80px;
  border-radius: 40px;
  border: 2px solid var(--color-purple);
  background-color: rgb(12, 12, 12);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
}

.IconContainer {
  width: 80px;
  height: 60px;
  background: linear-gradient(to bottom, var(--color-purple),rgb(172, 70, 255));
  border-radius: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: .3s;
}

.icon {
  font-size: 27px;
}


.text {
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-left: 10px;
  z-index: 1;
  transition-duration: .3s;
  font-size: 1.24em;
  font-family: var(--font-handlee);
}

.bookmarkBtn:hover .IconContainer {
  width: 250px;
  border-radius: 40px;
  transition-duration: .3s;
}

.bookmarkBtn:hover .text {
  transform: translate(10px);
  width: 0;
  font-size: 0;
  transition-duration: .3s;
}

.bookmarkBtn:active {
  transform: scale(0.95);
  transition-duration: .3s;
}

.divConteudo {
  display: flex;
  justify-content: center;
  height: max-content;
}