:root {
  --color-black: rgb(0, 0, 0);
  --color-text: rgb(255, 255, 255);
  --color-purple: rgb(123, 17, 123);
  --font-handlee: 'Handlee', cursive;
  --font-roboto: 'Roboto', sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-black);
  color: var(--color-text);
  font-family: var(--font-roboto);
  overflow-x: hidden;
}

header {
  height: 170px;
  width: 100vw;
  padding: 0 40px;
  background-color: var(--color-purple);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 60px;
  font-family: var(--font-handlee);
}

ul {
  display: flex;
}

ul > :first-child {
  margin-right: 40px;
}

li {
  font-size: 35px;
  list-style: none;
}

li:hover {
  cursor: pointer;
}

.linkPage {
  text-decoration: none;
  color: var(--color-text);
}

.textAnotacao, .inputAnotacao {
  color: var(--color-text);
  background-color: transparent;
  border: none;
  outline: none;
}

.btn {
  width: 180px;
  height: 60px;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  background-color: var(--color-purple);
  color: var(--color-text);
  font-family: var(--font-handlee);
  font-size: 20px;
}

.btn:hover {
  cursor: pointer;
}

.painelContainer {
  border: 2px solid var(--color-purple);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}